@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* navbar dropdown active route custom */
body{
    font-family: "Roboto", sans-serif;
}

.active{
    background-color: #f97316 !important;
    color: white !important;
}
.menu li > *:not(ul, .menu-title, details, .btn):active{
    background-color: #f97316 !important;
    color: white !important;
}

.swiper-button-prev, .swiper-button-next{
    color: #f97316 !important;
}
.swiper-pagination-bullet-active{
    background-color: #f97316 !important;
}